@using Contramcamlamroi.Models
@model List<Category>
<style>
    #div-u {
        padding-top: 5px;
        text-decoration: none;
    }

    .div-cate {
        height: 20px;
        width: 100%;
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 15px;
    }

        a:hover {
            text-decoration: none;
        }
    ul#div-u {
        display: flex;
    }

    #div-u .div-cate a {
        color: black;
        text-decoration: none;
        font-size: 15px;
    }

    /*.div-cate {*/
    /* height: 12px; */
    /*width: 100%;
        }*/

    #div-u {
        margin-top: 10px;
        lightcoral text-decoration: none;
    }
</style>
<ul style="display: inline-flex; flex-direction: row;" id="div-u">
    @{
        foreach (var item in Model)
        {
            <p >
                @Html.ActionLink(item.NameCate, "Index", "Product", new { Category = item.IDCate.Trim() }, "")
            </p>
           
        }
    }

</ul>


