
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Sucess</title>
</head>
<body style="text-align:center">
   <h2> CheckOut Successfull</h2>
    <h4> Orders of you had sent to the shop. You wil receive good in 2-3 days. Thanks</h4>
    <a href="@Url.Action("Index","Product")"> Continuos shopping...</a>
</body>
</html>
